.input {
  // inline-size: 100%;
  padding-block: 9px;
  padding-inline: 15px;
  border: 1px solid #dddee1;
  border-radius: 20px;
  &:hover {
    background-color: #dddee1;
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    border-color: #ffef02;
  }
}
