.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    padding-block-end: 40px;
    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #FFEF02;
        border-radius: 10px;
        inline-size: 300px;
        animation: slide 2s forwards;
        padding-block: 20px;
        &__link {
            border: 1px solid #DDDEE1;
            border-radius: 20px;
            opacity: 0;
            animation: appearing 1s forwards;
            &:nth-child(2) {
                animation-delay: .3s;
            }
            &:nth-child(3) {
                animation-delay: 0.6s;
            }
            &:nth-child(4) {
                animation-delay: 0.9s;
            }
            &:nth-child(5) {
                animation-delay: 1.2s;
            }
            &:nth-child(6) {
                animation-delay: 1.5s;
            }
            &:nth-child(7) {
                animation-delay: 1.8s;
            }
            &:nth-child(8) {
                animation-delay: 2.1s;
            }
            &:nth-child(9) {
                animation-delay: 2.4s;
            }
        }
        &__button {
            opacity: 0;
            animation: appearing 2.3s forwards;
            &:nth-child(2) {
                animation-delay: 2.5s;
            }
            &:nth-child(3) {
                animation-delay: 2.8s;
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes appearing {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}