.container {
    padding-inline: 150px;
    margin-block-end: 60px;
    &__heading {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1.2;
        text-align: left;
    }
    &__news {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex-wrap: wrap;
       
    }
    @media screen and (max-width: 1140px) {
        padding-inline: 80px;
    }
    @media screen and (max-width:767px) {
        padding-inline: 20px;
        
    }
}